$bdcl: rgba(29, 22, 22, 0.664);
$hvcl: rgba(197, 255, 50, 0.899);
$lgcl: rgb(0, 0, 0);
$btnbgcl: rgb(38, 38, 202);
$btncl: rgba(255, 255, 255, 0.956);
$btnhvcl: rgba(14, 112, 157, 0.956);
$sccl: rgba(4, 216, 0, 0.956);
$dncl: rgba(217, 26, 29, 0.956);